.wrapVideosGrid {
    margin-bottom: 20px;
}
 
.wrapVideo {
    transition: background-color .5s ease;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    box-shadow: -4px 0px 15px -7px rgba(0,0,0,0.75);

    .img {
        width: 50%;
    }

    .meta {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

.current {
    background-color: chartreuse;
}