.wrapVideosGrid {
    margin-bottom: 20px;
}
 
.wrapVideo {
    position: relative;
    transition: background-color .5s ease;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    box-shadow: -4px 0px 15px -7px rgba(0,0,0,0.75);
    flex-wrap: wrap;
    min-width: 260px;

    @media (max-width: 665px) {
        flex-direction: column;

        .img {
            width: 100% !important;
        }

        .meta {
            width: 100% !important;
        }

        .remove {
            position: relative;
            left: 0;
            right: 0;
            top: 0px;
            margin: 10px;
        }
        
        .play {
            margin-top: 0px;
            margin: 10px;
        }
    }

    .img {
        width: 50%;
        min-width: 50%;
        height: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .meta {
        width: 50%;
        min-width: 50%;
        height: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

.current {
    background-color: rgb(41, 209, 97);
    color: white;
}

.play {
    cursor: pointer;
    width: 20px;
    height: auto;
    margin-top: 20px;
}

.remove {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    width: 25px;
    height: auto;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}